.container {
  padding: 10px;
}

.logo-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-position img {
  width: 150px;
  padding: 10px;
}

.arrow-left,
.arrow-right {
  display: none;
}

.main-container {
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
}

.card-container {
  border: 1px solid #f0f8ff;
  border-radius: 4px;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.btn button {
  color: #f0f0ff;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #f0f8ff;
  border-radius: 4px;
  background: transparent;
  transition: all 0.2s ease;
}

.btn button:hover {
  background-color: #ffc500;
  transform: scale(1.2);
}

@media (min-width: 576px) {
  .logo-position img {
    width: 200px;
  }

  .main-container {
    font-size: 1.2rem;
  }

  .btn button {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .logo-position img {
    width: 350px;
    margin-bottom: 20px;
  }

  .container {
    margin: 100px auto;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
  }

  .item {
    width: 300px;
    height: 80px;
  }

  .btn button {
    font-size: 2rem;
  }
}
