.nav-container {
  width: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 10;
}

.nav-container ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 1rem;
  list-style-type: none;
  padding-top: 20px;
}

.nav-container ul li {
  letter-spacing: 3px;
  cursor: pointer;
}

.nav-container .box-li li:hover {
  width: 95%;
}

.box-li {
  width: 300px;
  margin: auto;
}
