/* .logo-position {
  cursor: pointer;
  width: max-content;
  margin: auto;
  padding-top: 20px;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.container-main {
  padding: 10px;
} */
