* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "star";
  src: url("./assets/fonts/Starjedi.ttf") format("truetype"),
    url("./assets/fonts/Starjhol.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100vh;
  font-family: "star", sans-serif;
}

a {
  text-decoration: none;
  color: #ffc500;
}
a:visited {
  color: #ffc500;
}
