* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "star";
  src: url("./assets/fonts/Starjedi.ttf") format("truetype"),
    url("./assets/fonts/Starjhol.ttf") format("truetype");
}

body {
  width: 100%;
  font-family: "star", sans-serif;
}

a {
  text-decoration: none;
  color: #ffc500;
}
a:visited {
  color: #ffc500;
}

ul {
  list-style-type: none;
}

.main-container {
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
}

.logo-position {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff20;
  color: #ffc500;
  width: 100%;
  padding: 15px;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btn button {
  color: #f0f0ff;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #f0f8ff;
  border-radius: 4px;
  background: transparent;
  transition: all 0.2s ease;
}

.btn button:hover {
  background-color: #ffc500;
}

@media (min-width: 375px) {
  .nav-container li {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .nav-container li {
    font-size: 1.5rem;
  }

  .logo-position img {
    width: 150px;
  }

  .main-container {
    font-size: 1.2rem;
  }

  .btn button {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .nav-container li {
    font-size: 1.5rem;
  }

  .logo-position img {
    width: 200px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    align-items: center;
  }

  .btn {
    padding-top: 10px;
  }

  .btn button {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .nav-container li {
    font-size: 1.5rem;
  }

  .icon-container {
    padding: 80px;
  }

  .main-container {
    width: 50%;
    margin: auto;
  }
}
